.container {
  display: flex;
  justify-content: center;
}

.center {
  width: 1920px; 
  padding: 10px;
  background: #5F85DB;
  color: #fff;
  font-weight: bold;
  font-family: Tahoma;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
}
